# Ignora el archivo mysql.sock
apps/api-demo/mysql/mysql.sock

# Ignora la carpeta node_modules
node_modules/

# Ignora los archivos de log
*.log

# Ignora la carpeta dist
dist/

# .env files
**/.env

# .turbo files
.turbo/daemon/
.turbo/cookies/
apps/api-demo/mysql

apps/api-demo/.env
apps/api-demo/.env
